<div class="card">
    <h1 class="display-4">Aplications</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis, modi atque perferendis dolores sit?</p>
    <a href="http://instagram.com/bfranco117" class="btn btn-primary btn-lg">Enlace</a>
</div>